//templete Main Colors
$FirstColor: #08526d;
$SecondColor: #ec1c23;

/* Start Upper Bar */
.upper-bar {
  background-color: $FirstColor;
  color: #fff;
  padding: 10px;
  .letwork {
    color: #ddd;
  }
  .getqoute {
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ec1c23;
    padding: 3px 6px;
    text-decoration: none;
    &:hover {
      background-color: $SecondColor;
    }
  }
}
/* End Upper bar */

/* End Nav bar */
.navbar-brand {
  font-size: 40px;
  span {
    &:first-child {
      color: $FirstColor;
      font-weight: bold;
    }
    &:last-child {
      color: $SecondColor;
    }
  }
}
.navbar-light .navbar-nav .nav-link {
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 20px;
  color: $FirstColor;
  &:hover {
    color: $SecondColor;
  }
}
.navbar-light .navbar-nav .active > .nav-link {
  color: $SecondColor;
}

/* End Nav bar */

/*Start Slider */
.slider {
  .slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .carousel-inner {
      display: flex;
      align-items: center;
      justify-content: left;
      h1 {
        position: absolute;
        color: #fff;
        font-size: 70px;
        z-index: 3;
        line-height: 1.5;
        left: 100px;
        span {
          background-color: $SecondColor;
          color: #fff;
          display: inline-block;
          padding: 0px 20px;
        }
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
      }
      .CarouselOne {
        background-image: url("../img/img01.jpg");
      }
      .CarouselTwo {
        background-color: #ddd;
        //background-image: url("../img/img02.jpg");
      }
      .CarouselThre {
        background-color: #ddd;
        //background-image: url("../img/img03.jpg");
      }
    }
    .carousel-indicators li {
      height: 8px;
      width: 100px;
      cursor: pointer;
    }
  }
}

/* End Slider */
